<p id="notice"><%= notice %></p>

<h1>Listing Recipes</h1>

<table>
  <thead>
    <tr>
      <th colspan="11">Title</th>
	  <th colspan="11">Category</th>
	  <th colspan="22">Instruction</th
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td colspan="11"><%= recipe.title %></td>
		<td colspan="11"><%= recipe.category.name if recipe.category %></td>
		<td colspan="22"><%= recipe.instruction if recipe.instruction %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
